@font-face {
    font-family: 'CaviarDreams';
    src: url("/fonts/CaviarDreams.ttf") format('truetype'),
         url("/fonts/CaviarDreams_Bold.ttf") format('truetype'),
         url("/fonts/CaviarDreams_BoldItalic.ttf") format('truetype'),
         url("/fonts/CaviarDreams_Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}




/*
@font-face {
    font-family: 'coveslight';
    src: url("/fonts/Coves/coves_light-webfont.woff2") format('woff2'),
         url("/fonts/Coves/coves_light-webfont.woff") format('woff'),
         url("/fonts/Coves/Coves Light.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}   */


