/*@font-face {
    font-family: 'caviardreams';
    src: url("/fonts/caviardreams.ttf") format('truetype');
        
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviardreamsbold';
     url("/fonts/caviardreams_bold.ttf") format('truetype');
        
    font-weight: normal;
    font-style: normal;

} */

@font-face {
  font-family: 'CaviarDreams';
  src: url('CaviarDreams.svg#CaviarDreams') format('svg'),
       url('CaviarDreams.ttf') format('truetype'),
       url('CaviarDreams.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviardreams';
  src: url('caviardreams.eot');
  src: url('caviardreams.eot?#iefix') format('embedded-opentype'),
       url('caviardreams.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams-Bold';
  src: url('CaviarDreams-Bold.svg#CaviarDreams-Bold') format('svg'),
       url('CaviarDreams-Bold.ttf') format('truetype'),
       url('CaviarDreams-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviardreams_bold';
  src: url('caviardreams_bold.eot');
  src: url('caviardreams_bold.eot?#iefix') format('embedded-opentype'),
       url('caviardreams_bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




