@font-face {
    font-family: 'CaviarDreams';
    src: url("/fonts/caviardreams.ttf") format('truetype'),
         url("/fonts/caviardreams_bold.ttf") format('truetype'),
         url("/fonts/caviardreams_bolditalic.ttf") format('truetype'),
         url("/fonts/caviardreams_italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}




/*
@font-face {
    font-family: 'coveslight';
    src: url("/fonts/Coves/coves_light-webfont.woff2") format('woff2'),
         url("/fonts/Coves/coves_light-webfont.woff") format('woff'),
         url("/fonts/Coves/Coves Light.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}   */


